/* ====================== Restaurant Details ====================== */

.inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 400px;
    position: relative;
    width: 100%;
  }
  .inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
  }
  
  #restaurant-name {
    color: #1c79c0;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
    width: 100%;
  }
  
  .restaurant-img{
    width:100%;
    margin-bottom: -5px;
  }
  
  #restaurant-address {
    font-size: 1.3rem;
    margin: 10px 0px;
  }
  #restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
  }
  #restaurant-overview{
    align-self: center;
    width: calc(50% - 20px);
    margin-right: 20px;
  }
  
  #restaurant-overview,
  #restaurant-main-info{
    max-width:50%;
  }
  
  #restaurant-container, #reviews-container {
    padding: 40px 40px 30px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;  
  }
  #reviews-container {
    padding: 30px 40px 0px;
  }
  #reviews-container h2 {
    color: #1c79c0;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: -1px;
    padding-bottom: 1pt;
  }
  #reviews-list {
    margin: 0;
    padding: 0;
    margin:auto;
  
  }
  #reviews-list li {
    background-color: #fff;
    display: block;
    list-style-type: none;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    margin: 0 0 20px 0;
  }
  
  #restaurant-hours td {
    color: #666;
    padding: 5px;
    font-size: 1.2em;
  }
  
  .review-header-container{
    background: #333;
    display: flex;
  }
  
  .review-header-container p{
    color: white;
    width: 50%;
    font-size: 16px;
    padding: 10px;
  }
  
  .review-date{
    text-align: end;
  }
  
  .review-comments{
    padding: 10px;
    font-size: 16px;
  }
  
  .review-rating{
    border-radius: 4px;
    max-width: 70px;
    margin: 10px;
    padding: 5px;
    text-align: center;
  }
  
  .very-good-review{
    background: green;
    color:white;
  }
  
  .good-review{
    background: yellowgreen;
    color:black;
  }
  
  .not-bad-review{
    background: orange;
    color:black;
  
  }
  
  .bad-review{
    background: red;
    color:black;
  
  }
  

/*======================= Form Styles ====================== */
.form-style {
    padding: 20px 0px 20px 0px;
  }
  .form-style li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
  }
  .form-style label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
  }
  .form-style input[type=text], 
  .form-style input[type=date],
  .form-style input[type=datetime],
  .form-style input[type=number],
  .form-style input[type=search],
  .form-style input[type=time],
  .form-style input[type=url],
  .form-style input[type=email],
  textarea, 
  select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:10px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
  }
  
  .form-style textarea{
    width:80%;
  }
  
  .form-style input[type=text]:focus, 
  .form-style input[type=date]:focus,
  .form-style input[type=datetime]:focus,
  .form-style input[type=number]:focus,
  .form-style input[type=search]:focus,
  .form-style input[type=time]:focus,
  .form-style input[type=url]:focus,
  .form-style input[type=email]:focus,
  .form-style textarea:focus, 
  .form-style select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
  }
  .form-style .field-divided{
    width: 49%;
  }
  
  .form-style .field-long{
    width: 100%;
  }
  .form-style .field-select{
    width: 100%;
  }
  .form-style .field-textarea{
    height: 100px;
  }
  .form-style input[type=submit], .form-style input[type=button]{
    background: #1c79c0;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
  }
  .form-style input[type=submit]:hover, .form-style input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
  }
  .form-style .required{
    color:red;
  }